br
br
.footer(style='width: 100% justify-content: center; text-align: center; vertical-align: middle; font: bold;')
    .full-size
        .row
            .col-1
            .col-2
                a(href='../about/') About
            .col-6
                a(href='../') Krios Watcher
            .col-2
                a(href='../contact/') Contact
            .col-1
    .mobile-size
        .row
            .col-1
            .col-2
                a(href='../about/') About
            .col-6
                a(href='../') Krios Watcher
            .col-2
                a(href='../contact/') Contact
            .col-1

// Footer Scripts
