.topnav
    .container-fluid
        .full-size
            .row(style="white-space: nowrap")
                .col-4(style="text-align: left; padding-top: 13px; display: inline-flex;")
                    a(href='../') Krios Watcher
                .col-4(style="text-align: center; padding-top: 13px; display: block;")
                .col-4(style="padding-top: 13px; display: block; text-align: right;")
                    a(href='../account/' style="margin-left: 20px; margin-right: 20px;") Account
            .mobile-size
                .row(style="white-space: nowrap;")
                    .col-3(style="text-align: left; padding-top: 12px; padding-bottom: 0;")
                        a(href='../') Krios Watcher
                    .col-6(style="text-align: center; padding-top: 12px; padding-bottom: 0;")
                    .col-3(style="padding-top: 12px; padding-bottom: 0; text-align: right; margin-right: 0px;")
                        a(href='../account/') Account
