extends partials/layout

block content
    #index.container-fluid(style='text-align: center;')
        .full-size
            br
            br
            br
            .row
                .col-4
                .col-4
                    .row
                        a(href='/images')
                            button(type='button' class='btn btn-outline-secondary btn-lg') Review Images
                p Make Homepage look prettier.
                p Make Footer sticky.
                .col-4
        .mobile-size
            br
            br
            .row
                .col-1
                .col-10
                    .row
                        a(href='/images')
                            button(type='button' class='btn btn-outline-secondary btn-lg') Review Images
                p Make Homepage look prettier.
                p Make Footer sticky.
                .col-1
