extends ../layout

block content
    #about.container-fluid(style="text-align: center;")
        .full-size
            br
            br
            br
            .row
                .col-4
                .col-4
                    .row
                        h4 About Krios Watcher
                        p May fill in later, if needed.
                .col-4
        .mobile-size
            br
            br
            .row
                .col-1
                .col-10
                    .row
                        h4 About Krios Watcher
                        p May fill later, if needed.
                .col-1
